<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nutrition</title>
        <link rel="stylesheet" href="/css/details.css">
  </head>
<body>

  <table class="table table-dark table-striped">
    <tr>
        <th>Food</th>
        <th>Calories</th>
        <th>Fats</th>
        <th>Carbs</th>
        <th>Protein</th>
    </tr>
    <tr> 
        <td class = "foodName"><strong> <%= nutrition.name %> </strong>  </td>
        <td class =  "cals"> kCals <%= nutrition.calories %>  </td>
        <td class = "fat"> Fat <%= nutrition.fats %>g</td> 
        <td class = "carbs"> Carbs <%= nutrition.carbs %>g  </td>
        <td class = "carbs"> Protein <%= nutrition.protein %>g  </td>  
    </tr>
</table>

<form class = "form" method="POST" action="/nutrition/<%= nutrition.id %>/comment ">
  <input type="text" name="comment" class="form-control" id="exampleFormControlInput1" style="width:50vh; height:200px">
  <button style="width: 430px; padding:10px; margin:10px" type="submit"   class="btn btn-dark">post</button>
  </form>
  <div class="row">
    <div class="well">
      <% if(nutrition && Array.isArray(nutrition.comments) && nutrition.comments.length> 0) { %>
        <% nutrition.comments.forEach((comment) => { %>
          <div class="panel">
            <div class="panel-body">

                <p class = "user"><strong> <%= comment.user.name %> </strong> </p>
                <p class =  "comment"> Your comment: <%= comment.comment %>  </p>


                <form method="POST" class = "remove" action="/nutrition/<%= nutrition.id %>/comment/<%= comment.id %>?_method=DELETE">
                  <button type="submit">Remove</button>
                </form>
                  
                
            </div>
          </div>
        <% }) %>
      <% } else { %>     
        <div class="panel panel-default">
          <div class="panel-body">
                No comments found
          </div>
        </div>
      <% } %>
    </div>
  </div>




</body>
</html>