<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nutrition</title>
        <link rel="stylesheet" href="/css/nutrition.css">
  </head>
<body>
  <p class = "header">Nutrition Facts</p>

<form class = "form" method="POST" action="./nutrition">
    <input type="text" name="ingredient" placeholder="food + weight">
    <button class="btn" type="submit">GET Nutriton Facts</button>
  </form>

  <div class="row">
    <div class="well">
      <% if(Array.isArray(nutritions) && nutritions.length > 0) { %>
        <% nutritions.forEach((nutrition) => { %>
          <div class="panel">
            <div class="panel-body">

                <p class = "foodName"><strong> <%= nutrition.name %> </strong> </p>
                <p class =  "cals"> kCals <%= nutrition.calories %>  </p>
                <p class = "fat"> Fat <%= nutrition.fats %>g </p>
                <p class = "carbs"> Carbs <%= nutrition.carbs %>g </p>
                <p class = "protein"> Protein <%= nutrition.protein %>g </p>
                <form method="POST" class = "remove" action="/nutrition/<%= nutrition.id %>/?_method=DELETE">
                  <button type="submit">Remove</button>
                </form>

                <form method="POST" class = "commentX" action="/nutrition/<%= nutrition.id %>/?_method=POST">
                    <button type="submit">Comment</button>
                </form>

                  <form method="get" class = "commentX" action="/nutrition/<%= nutrition.id %>/?_method=POST">
                      <button type="submit">Details</button> 
                  </form>
                  
                
            </div>
          </div>
        <% }) %>
      <% } else { %>     
        <div class="panel panel-default">
          <div class="panel-body">
                No nutrition facts found
          </div>
        </div>
      <% } %>
    </div>
  </div>




</body>
</html>

