<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nutrition</title>
        <link rel="stylesheet" href="/css/nutrition.css">
  </head>
<body>
  <div class = "container" >
    <div class="mb-3">

<form class = "form" method="POST" action="./nutrition">
    <input type="text" type="text"  class="form-control" id="exampleFormControlInput1" name="ingredient" placeholder="food + weight">
    <button style="width: 430px; padding:10px; margin:10px" type="submit"   class="btn btn-dark">Submit</button>
 
    <div class = "container2" >
      <% if(Array.isArray(nutritions) && nutritions.length > 0) { %>
        <% nutritions.forEach((nutrition) => { %>

              <table class="table table-dark table-striped">
                <tr>
                    <th>Food</th>
                    <th>Calories</th>
                    <th>Fats</th>
                    <th>Carbs</th>
                    <th>Protein</th>
                    <th>Delete</th>
                </tr>
                <tr> 
                    <td class = "foodName"><strong> <%= nutrition.name %> </strong>  </td>
                    <td class =  "cals"> kCals <%= nutrition.calories %>  </td>
                    <td class = "fat"> Fat <%= nutrition.fats %>g</td> 
                    <td class = "carbs"> Carbs <%= nutrition.carbs %>g  </td>
                    <td class = "carbs"> Protein <%= nutrition.protein %>g  </td>
                    <td><form method="POST" class = "remove" action="/nutrition/<%= nutrition.id %>/?_method=DELETE">
                        <button type="submit" class="btn btn-dark" style="border:1px solid white">Remove</button>
                      </form></td>    
                </tr>
            </table>

                <form method="get" class = "commentX" action="/nutrition/<%= nutrition.id %>">
                  <button style="width: 430px; padding:10px; margin:10px" type="submit"   class="btn btn-dark">Comment</button>
              </form>

              <form action="/nutrition/?_method=PUT" method="POST">
                <label for="check1">Enjoyed?</label>
                <input id="check1" type="checkbox" name="check1">
                <button style="width: 430px; padding:10px; margin:10px" type="submit"   class="btn btn-dark">Check</button>
            </form>


              

        <% }) %>
      <% } else { %>     
        <div class="panel panel-default">
          <div class="panel-body">
                No nutrition facts found
          </div>
        </div>
       
      <% } %>
</form>
</div>
</div>
</body>
</html>