<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nutrition.css">
    <title>GitFit</title>
</head>
<body>
    <div class = "container" >

      <div class="create-nutrition">
            <form action="/workout/workouts" method="POST">
            <label>Exercise</label>
            <input type="text" name="exercise" class="form-control" id="exampleFormControlInput1"  placeholder="ex: 'tricep extensions'"> <button type="submit"   class="submit-btn">Submit</button>
          </div>
             

    <div class = "container2" >
              <% if(Array.isArray(workoutsZ) && workoutsZ.length > 0) { %>
                <% workoutsZ.forEach((workout) => { %>
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>Exercise</th>
                            <th>BodyPart</th>
                            <th>Target</th>
                            <th>Gif</th>
                            <th>Delete</th>
                        </tr>
                        <tr>
                            <td class = "foodName"><strong> <%= workout.name %> </strong> </td>
                            <td class =  "cals"> <%= workout.bodyPart %>  </td>
                            
                            <td class = "fat"><%= workout.target %> </td>
                            
                            <td><form method="GET" class = "workoutGIF" action="<%= workout.gifURL %>">
                                <button type="submit" class="btn btn-dark" style="border:1px solid white">See How</button>
                            </form></td> 

                            <td><form method="POST" class = "remove" action="/workout/workouts/<%= workout.id %>/?_method=DELETE">
                                <button type="submit" class="btn btn-dark" style="border:1px solid white">Remove</button>
                              </form></td>   
                               
                        </tr>
                    </table>
                <% }) %>
              <% } else { %>     
                <div class="panel panel-default">
                  <div class="panel-body">
                        No workouts found
                  </div>
                </div>
              <% } %>
      </form>
  </div>
</body>
</html>